* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: 0;
}

.container {
    padding: 0 20px;
}

.row {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 30px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-black {
    color: black;
}

.menu-item-title {
    font-weight: bold;
    font-size: 20px;
    width: 115px;
    height: auto;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-item-p {
    margin-top: 34px;
    margin-bottom: 20px;
    font-size: 20px;
}

.menu-item {
    position: relative;
    border: 2px solid;
    padding: 0 10px;
    background: #999999;
}

.bg-red {
    background: #C14543;
}

.bg-pink {
    background: #C48C8C;
}

.bg-yellow {
    background: #E5D198;
}

.padding-10xp {
    padding: 10px;
}

.d-flex {
    display: flex;
}

.m-auto {
    margin: auto;
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        margin-left: -10px;
        width: 100%;
    }

    .name3 {
        margin-right: 65px;
        width: 100px;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }

    .content-name {
        margin-right: 30px;
    }
}
